/* Update this file to change the colors and the font */
@theme {
  --font-display: 'Martian Grotesk', 'sans-serif';

  /* Go cyan #00ADD8 — https://oklch.com/#0.7115,0.1241,218.04,100 */
  --clr-primary-chroma: 0.1241;
  --clr-primary-hue: 218.04;

  /* https://oklch.com/#0.6804,0.034,261.69,100 */
  --clr-secondary-chroma: 0.034;
  --clr-secondary-hue: 261.69;
}
